In [3]:
import pandas as pd

In [4]:
restrictions = pd.read_csv("../processed_data/restriction.csv")
restrictions.head()

,RegionName,Date,C4_Restrictions on gatherings,C6_Stay at home requirements,StringencyIndex
0,Alaska,2020-01-01,0.0,0.0,0.0
1,Alaska,2020-01-02,0.0,0.0,0.0
2,Alaska,2020-01-03,0.0,0.0,0.0
3,Alaska,2020-01-04,0.0,0.0,0.0
4,Alaska,2020-01-05,0.0,0.0,0.0

In [5]:
elections = pd.read_csv("../processed_data/elections.csv")
elections.head()

   FIPS  r_voteshare
0  1001     0.727666
1  1003     0.765457
2  1005     0.520967
3  1007     0.764032
4  1009     0.893348

In [6]:
demographics = pd.read_csv("../processed_data/demographic_data.csv")
demographics.head()

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,...,pct_bachelors,median_household_income,pct_black,pct_asian,pct_hispanic,pct_non_hispanic_white,pct_not_proficient_in_english,pct_rural,pct_impoverished,pop_density
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,27.7,59338.0,19.3,1.2,3.0,74.3,1,42.0,0.134855,92.860507
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,...,31.3,57588.0,8.8,1.2,4.6,83.1,1,42.3,NaN,130.903018
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,...,12.2,34382.0,48.0,0.5,4.3,45.6,2,67.8,NaN,29.136154
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,...,11.5,46064.0,21.1,0.2,2.6,74.6,0,68.4,NaN,36.183302
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,...,12.6,50412.0,1.5,0.3,9.6,86.9,2,90.0,NaN,89.402587

In [11]:
combined = pd.merge(demographics, elections, left_on = 'fips', right_on = "FIPS").drop("FIPS", axis = 1)
combined

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,...,median_household_income,pct_black,pct_asian,pct_hispanic,pct_non_hispanic_white,pct_not_proficient_in_english,pct_rural,pct_impoverished,pop_density,r_voteshare
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,59338.0,19.3,1.2,3.0,74.3,1,42.0,0.134855,92.860507,0.727666
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,...,57588.0,8.8,1.2,4.6,83.1,1,42.3,NaN,130.903018,0.765457
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,...,34382.0,48.0,0.5,4.3,45.6,2,67.8,NaN,29.136154,0.520967
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,...,46064.0,21.1,0.2,2.6,74.6,0,68.4,NaN,36.183302,0.764032
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,...,50412.0,1.5,0.3,9.6,86.9,2,90.0,NaN,89.402587,0.893348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,56037,Sweetwater County,Wyoming,WY,22882,21235,34.6,44117,48.133373,41.659534,...,73315.0,1.1,1.0,16.1,79.3,2,10.9,0.096652,4.231177,0.709515
3110,56039,Teton County,Wyoming,WY,11911,11148,39.3,23059,48.345548,43.934651,...,99087.0,0.6,1.4,14.9,81.5,4,46.4,0.072857,5.771416,0.310525
3111,56041,Uinta County,Wyoming,WY,10505,10104,35.5,20609,49.027124,41.287642,...,63401.0,0.7,0.5,9.2,87.4,1,43.1,0.105925,9.902175,0.726564
3112,56043,Washakie County,Wyoming,WY,4137,3992,43.5,8129,49.108131,43.904970,...,55190.0,0.5,0.8,14.1,82.4,0,36.0,0.130397,3.631369,0.763241
3113,56045,Weston County,Wyoming,WY,3768,3332,42.9,7100,46.929577,43.840410,...,54319.0,0.6,1.9,4.1,90.0,1,54.5,0.103380,2.960690,0.860182