In [34]:
import pandas as pd
import numpy as np
import random

In [24]:
def sq_w_euc_dist(A, B, w = None):
    if w:
        return np.sum(((A - B) ** 2) * w)
    return np.mean((A - B) ** 2)

In [32]:
def cos_dist(A, B):
    return np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B))

In [38]:
def w_randomizer(n):
    weights = []
    for i in range(n):
        weights.append(random.random())
    weights /= np.sum(weights)
    return weights

In [44]:
def find_closest_euc(A_pos, B, n = 1, w = None):
    return sorted(A_pos, key = lambda x: sq_w_euc_dist(x, B, w))[:n]

In [55]:
from sklearn import datasets

iris = datasets.load_iris(as_frame = True).data

In [64]:
iris.loc[1:5]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4

In [66]:
sorted(iris.loc[1:10])

['petal length (cm)',
 'petal width (cm)',
 'sepal length (cm)',
 'sepal width (cm)']